<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample{{loop.index}}1 multiCollapseExample{{loop.index}}2">SHOW ALL</button>
{% for firewall in firewalls %}
<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample{{loop.index}}1" role="button" aria-expanded="false" aria-controls="multiCollapseExample{{loop.index}}1">{{firewall}} SHOW IP INT BRIEF</a>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample{{loop.index}}2" aria-expanded="false" aria-controls="multiCollapseExample{{loop.index}}2">SHOW INVENTORY</button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample{{loop.index}}3" aria-expanded="false" aria-controls="multiCollapseExample{{loop.index}}3">SHOW NAMEIF</button>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample{{loop.index}}4" aria-expanded="false" aria-controls="multiCollapseExample{{loop.index}}4">SHOW VERSION</button>
  </p>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample{{loop.index}}1">
        <div class="card card-body">
          {{ results[firewall][1].result }}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample{{loop.index}}2">
        <div class="card card-body">
            {{ results[firewall][2].result }}
        </div>
      </div>
    </div>
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample{{loop.index}}3">
          <div class="card card-body">
            {{ results[firewall][3].result }}
          </div>
        </div>
    </div>
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample{{loop.index}}4">
          <div class="card card-body">
            {{ results[firewall][4].result }}
          </div>
        </div>
    </div>
  </div>
{% for firewall in firewalls %}